---
layout: default
title: Home
---

<!-- ========== QUOTE ========== -->


<figure class="quote">
  <blockquote>
    <p>
       As you enter positions of trust and power, dream a little before you think.
    </p>
  </blockquote>
  <figcaption>&mdash; Toni Morrison</figcaption>
</figure>

<!-- ========== NEWS ========== -->

<!-- <div class="docs-section" id="bio">
  
  <h4>News</h4>

  <ul>
    <li>I was awarded the 2026 NSF Graduate Research Fellowship to continue my work in STEM Education & Artificial Intelligence!</li>
    <li>My Birds of a Feather (BoF) <i>"You Don’t Have to Do This Alone: Building Community for Graduate Applications"</i> was accepted to the ACM Richard Tapia Conference!</li>
  </ul>

</div> -->
  

<!-- ========== BIO ========== -->

<div class="docs-section" id="bio">
  
  <h4>Bio</h4>
  <p>
    My name is Ashlyn (ASH-LEN), and I am a doctoral student in the School of Information at the University of Michigan. 
    My research falls at the intersection of AI in education, Critical AI Literacy, and Critical Design Studies. My primary interest is to
    center the knowledge students already bring and agency to conversations about generative AI systems inside of the classroom. 
    
    My research is supported by both the Rackham Merit Fellowship and the National Science Foundation (NSF) Graduate Research Fellowship.
    I have a Bachelor's in Computer Science, a minor in Sociology, and a Data Science Certification from Georgia State University (GSU).
    During my time at GSU, I founded and led the <a href="https://www.ashlyncampbell.com/projects/2025_rise-profile.html" target="_blank">RISE in Computing Stars</a>,
    a research-informed intervention for freshmen college students in computing alongside Dr. Anu Bourgeois. 
  
    Outside of my research, I am passionate about academic & professional mentorship, STEM outreach, and public scholarship. 
    In my free time, I enjoy writing whatever comes to mind on my <a href="https://ashlyncampbell.substack.com" target="_blank">substack</a>.
  </p>
  <p> -->

  </p>
</div>

    <!-- <ul style="margin-left:1.5em;">
      <li>Learning (Dedicated to improving learning experiences)</li>
      <li>Policy (Dedicated to improving access to education)</li>
      <li>Outreach (Dedicated to working with students)</li>
    </ul> -->

    <!-- Ashlyn's research takes an interdisciplinary approach, combining methods and theories from
    <a href="https://niloufars.substack.com/p/the-glossary-of-human-centered-ai/" target="_blank">human-centered
  artificial intelligence</a>, human-computer interaction, and <a href="https://faculty.washington.edu/ajko/cer/" target="_blank">computing education</a>. -->


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google
      Scholar</a>.<br />
    <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li>
      <div class="button active" data-ref="#papers-selected">Selected</div>
    </li>
    <li>
      <div class="button" data-ref="#papers-all">All</div>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b></p>
        <p>{{ paper.authors }}</p>
        <p><i>{{ paper.venue }}</i></p>
        <div class="paper-buttons">
          {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
          {% endif %}

          {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
          {% endif %}

          {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
          {% endif %}

          {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %}

          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
          {% endif %}

          {% if paper.data %}
          <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b></p>
        <p>{{ paper.authors }}</p>
        <p><i>{{ paper.venue }}</i></p>
        <div class="paper-buttons">
          {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
          {% endif %}

          {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
          {% endif %}

          {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
          {% endif %}

          {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %}

          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
          {% endif %}

          {% if paper.data %}
          <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ==========  -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li>
      <div class="button active" data-ref="#projects-selected">Selected</div>
    </li>
    <!-- <li>
      <div class="button" data-ref="#projects-all">All</div>
    </li> -->
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
      {% if index_modulo == 0 %}
      <div class="row">
        {% endif %}

        <div class="four columns">
          <div class="project-container">

            <div class="project-image-container">
              <a href="{{ project.url }}">
                <img src="{{ project.thumbnail }}" class="u-max-full-width" />
              </a>
            </div>

            <div class="project-caption">
              <b>{{ project.title }}</b> <br />
              {{ project.subtitle }}
            </div>

          </div>
        </div>

        {% if index_modulo == 2 %}
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
      {% if index_modulo == 0 %}
      <div class="row">
        {% endif %}

        <div class="four columns">
          <div class="project-container">

            <div class="project-image-container">
              <a href="{{ project.url }}">
                <img src="{{ project.thumbnail }}" class="u-max-full-width" />
              </a>
            </div>

            <div class="project-caption">
              <b>{{ project.title }}</b> <br />
              {{ project.subtitle }}
            </div>

          </div>
        </div>

        {% if index_modulo == 2 %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full CV in <a href={{ "/assets/cv/Ashlyn_Campbell_CV.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
        {% else %}
        <div class="direction-r">
          {% endif %}
          <div class="flag-wrapper">
            <span class="flag">{{ exp.place }}</span>
            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          </div>
          <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle }}</div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="docs-section" id="template">
  Special thanks to <a href="https://faculty.washington.edu/msaveski/" target="_blank">Martin Saveski</a> for his
  wonderful website template that you can find in this <a href="https://github.com/msaveski/www_personal"
    target="_blank">GitHub repo</a>.
</div>
